# dependencies
node_modules/
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
